.front {
  transform: rotateY(90deg);
  transition: all ease-in 0.1s;
  position: absolute;
}

.flipped {
  transform: rotateY(0deg);
  transition-delay: 0.1s;
}

.back {
  transition: all ease-in 0.1s;
  transition-delay: 0.1s;
}

.back_flipped {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
